
.snackbox{
font-size: 26;
text-align: center;
color: #ffffff;
font-family: 'Lexend Deca', sans-serif;
padding: 10px;
background: #504646;
box-sizing: border-box;
width: 100%;
height: 10%;
float: left;
}

.select-font {
    width: 35%;
    font-size: 26;
    color: #ffffff;
    padding: 5px;
    font-family: 'Lexend Deca', sans-serif;
    background: #504646;
}

.total-font {
    width: 40%;
    font-size: 40;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    font-family: 'Lexend Deca', sans-serif;
    background: #ffffff;
}

.head-font {
    width: 80%;
    font-size: 40;
    text-align: center;
    color: #fcef3b;
    font-weight: bold;
    padding: 5px;
    font-family: 'Lexend Deca', sans-serif;
    background: #504646;
    box-sizing: border-box;
width: 100%;
height: 10%;
float: left;
}

.subhead-font {
    width: 15%;
    font-size: 24;
    text-align: center;
    color: #009b03;
    padding: 1px;
    font-family: 'Lexend Deca', sans-serif;
    background: #504646;
    box-sizing: border-box;
width: 100%;
height: 10%;
float: left;
}